@import url("https://fonts.googleapis.com/css2?family=Akronim&family=Koulen&family=Mukta+Vaani&family=Roboto&family=Work+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: rgba(244, 244, 244, 0.7);
  padding: 65px 0 0 0;
  height: 150px;
  z-index: 50;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__burger {
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  top: 0;
  right: 20px;
  width: 38px;
  height: 40px;
  z-index: 50;
}
.header__burger .burger__item {
  margin: 6.5px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__burger .burger__item:first-child {
  margin: 0;
}
.header__burger span {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #000;
}
.header__burger.active {
  position: fixed;
  top: 100px;
  left: 40%;
}
.header__burger.active span {
  display: none;
}
.header__burger.active:before, .header__burger.active:after {
  content: "";
  position: absolute;
  top: 0;
  background: #000;
  width: 4px;
  height: 100%;
  border-radius: 9px;
}
.header__burger.active:before {
  left: 16.5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger.active:after {
  left: 16.5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__menu {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
  top: 0;
  left: -100%;
  width: 45%;
  height: 100%;
  background: #F0F0F0;
  z-index: 3;
}
.header__menu.active {
  left: 0;
}

.header__list {
  padding: 120px 0 0 0;
}
.header__list li {
  margin: 20px 0 0 120px;
}

.header__link {
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  color: #979797;
  font-family: "Roboto";
  letter-spacing: 1px;
  font-size: 48px;
  text-transform: uppercase;
}
.header__link:hover {
  color: #000;
}

.header__home {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 39px;
}
.header__home img {
  width: 52px;
  height: 39px;
  -o-object-fit: none;
     object-fit: none;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.main {
  height: 806px;
  background: #f4f4f4;
}
.main .container {
  position: relative;
}

.main__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.main__image img {
  -o-object-fit: none;
     object-fit: none;
}

.main__logo {
  position: absolute;
  top: 240px;
  left: 0;
}
.main__logo img {
  width: 80vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__title {
  position: absolute;
  font-family: "Akronim";
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  color: #7A797A;
}

.sliderblock {
  background: #fff;
  position: relative;
  top: 0;
  left: 0;
  height: 1069px;
}

.sliderblock__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  padding: 140px 0 0 0;
  width: 100%;
  overflow: hidden;
}

.sliderblock__slider-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.sliderblock__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sliderblock__item .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sliderblock__item-image img {
  width: 640px;
  height: 929px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sliderblock__item-textblock {
  margin: 31px 0 0 0;
  max-width: 434px;
}

.sliderblock__item-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 81px;
  line-height: 100px;
  letter-spacing: 18.9844px;
  color: #FFFFFF;
}

.sliderblock__item-subtitle {
  margin: 31px 0 0 0;
  font-family: "Mukta Vaani";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: justify;
  color: #FFFFFF;
}

.sliderblock__item-time {
  margin: 30px 0 0 0;
  position: relative;
  display: block;
  height: 3px;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
}

.sliderblock__bg {
  position: absolute;
  top: 0;
  height: 790px;
  width: 100%;
  background: #4a4a4a;
}

.sliderblock__item-time-passed {
  position: absolute;
  top: -2px;
  left: 0;
  display: block;
  height: 7px;
  width: 0;
  background: #fff;
}

.sliderblock__gallery-link {
  width: 431px;
  border: 3px solid #979797;
  padding: 15px 47px;
  font-family: "Koulen";
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 8px;
  text-align: center;
  color: #7A797A;
}

.sliderblock__next-arrow {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
  top: 200px;
  right: 0px;
  height: 100px;
  width: 50px;
}
.sliderblock__next-arrow:before, .sliderblock__next-arrow:after {
  content: "";
  position: absolute;
  display: block;
  background: #fff;
  height: 5px;
  width: 50px;
  right: 0;
}
.sliderblock__next-arrow:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 31px;
}
.sliderblock__next-arrow:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 31px;
}

.sliderblock__gallery-btn {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  bottom: 60px;
  height: 91px;
  font-family: "Koulen";
  font-weight: 400;
  font-size: 36px;
  line-height: 91px;
  letter-spacing: 8px;
  display: block;
  border: 3px solid #979797;
  padding: 0px 47px;
  color: #979797;
  text-align: center;
}
.sliderblock__gallery-btn:hover {
  color: #000;
  border-color: #000;
}

.sliderblock__media {
  position: absolute;
  top: 50%;
  left: 42px;
}
.sliderblock__media li {
  margin: 21px 0 0 0;
}
.sliderblock__media li:first-child {
  margin: 0;
}

.slidernlock__media-item {
  display: block;
}
.slidernlock__media-item img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -o-object-fit: none;
     object-fit: none;
}
.slidernlock__media-item img:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.vasesPots {
  padding: 230px 0 0 0;
  position: relative;
}
.vasesPots .container {
  max-width: 1020px;
}

.vasesPots__slider {
  overflow: hidden;
}

.vasesPots__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.vasesPots__title {
  text-orientation: upright;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 115.3%;
  letter-spacing: 10.6667px;
  color: #7A797A;
}

.vasesPots__item__text {
  padding: 24px 50px 0;
  font-family: "Mukta Vaani";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #4A4A4A;
  margin: 0 auto;
}

.vasesPots__item-image img {
  -o-object-fit: none;
     object-fit: none;
}

.vasesPots__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 2916px;
}

.vasesPots__gallery-btn {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  top: 100px;
  left: 50%;
  width: 431px;
  height: 91px;
  font-family: "Koulen";
  font-weight: 400;
  font-size: 36px;
  line-height: 91px;
  letter-spacing: 8px;
  display: block;
  border: 3px solid #979797;
  padding: 0px 47px;
  color: #979797;
  text-align: center;
}
.vasesPots__gallery-btn:hover {
  color: #000;
  border-color: #000;
}

.footer {
  margin: 60px 0 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 200px;
  position: relative;
}
.footer img {
  position: absolute;
  display: block;
  bottom: 0;
  left: 110px;
}