@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Koulen&family=Mukta+Vaani&family=Roboto&family=Work+Sans&display=swap');

html{
	overflow-x:hidden;
}
body.lock{
	overflow:hidden;
}
.wrapper {
	display: flex;
	flex-direction:column;
	min-height:100%;
}
.container{
	max-width:1230px;
	margin: 0 auto;
}
.header {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	flex: 0 0 auto;
	background: rgba(#F4F4F4,0.7);
	padding: 65px 0 0 0;
	height:150px;
	z-index:50;
}
.header__body {
	display: flex;
	justify-content:space-between;
	align-items:center;
	position: relative;
}
.header__burger {
	cursor:pointer;
	transition: all 0.3s ease 0s;
	position: relative;
	top:0;
	right:20px;
	width:38px;
	height:40px;
	z-index:50;
	.burger__item{
		margin: 6.5px 0 0 0;
		display: flex;
		justify-content:space-between;
		//height:100%;
	}
	.burger__item:first-child{
		margin:0;
	}
	span{
		display: block;
		width:9px;
		height:9px;
		border-radius: 50%;
		background: #000;
	}
	&.active{
		position: fixed;
		top:100px;
		left:40%;
		span{
			display: none;
		}
		&:before,&:after{
			content:'';
			position: absolute;
			top:0;
			background: #000;
			width:4px;
			height:100%;
			border-radius: 9px;
		}
		&:before{
			left:16.5px;
			transform: rotate(45deg);
		}
		&:after{
			left:16.5px;
			transform: rotate(-45deg);
		}
	}
}
.header__menu {
	transition: all 0.3s ease 0s;
	position: fixed;
	top:0;
	left:-100%;
	width:45%;
	height:100%;
	background: #F0F0F0;
	z-index:3;
	&.active{
		left:0;
	}
}
.header__list {
	padding:120px 0 0 0;
	li{
		margin: 20px  0 0 120px;
		//text-align:right;
	}
}
.header__link {
	transition: all 0.1s ease 0s;
	color:#979797;
	font-family: 'Roboto';
	letter-spacing: 1px;
	font-size: 48px;
	text-transform:uppercase;
	&:hover{
		color:#000;
	}
}
.header__home {
	position: absolute;
	top:0;
	right:0;
	width:52px;
	height:39px;
	img{
		width:52px;
		height:39px;
		object-fit:none;
	}
}
.content {
	//padding:150px 0 0 0;
	flex: 1 0 auto;
}
//main
.main {
	height:806px;
	background: #f4f4f4;
	.container{
		position: relative;
	}

}
.main__image {
	position: absolute;
	top:0;
	right:0;
	img{

		object-fit:none;
	}
	z-index:2;
}
.main__logo {
	position: absolute;
	top:240px;
	left:0;
	img{
		width:80vw;
		object-fit:cover;
	}
}
.main__title {
	position: absolute;
	font-family: 'Akronim';
	font-weight: 400;
	font-size: 48px;
	line-height: 55px;
	color: #7A797A;
}

//sliderblock
.sliderblock {
	background: #fff;
	position: relative;
	top:0;
	left:0;
	height:929px + 140px;
}
.container {}
.sliderblock__slider {
	display: flex;
	justify-content:space-between;
}
.slider {
	padding: 140px 0 0 0;
	width:100%;
	overflow: hidden;
}
.sliderblock__slider-line {
	display: flex;
	transition: all 0.7s ease 0s;
	//justify-content:flex-start;
}
.slider-line {}
.sliderblock__list {
	
}
.sliderblock__item {
	position: relative;
	display: flex;
	justify-content:space-between;
		//gap:100px;
		.container{
			display: flex;
			justify-content:space-between;
		//gap:100px;
	}
}
.sliderblock__item-image {
	img{
		width:640px;
		height:929px;
		object-fit:cover;
		//aspect-ratio: 640/929;
	}
}
.sliderblock__item-textblock {
	margin:31px 0 0 0;
	max-width:434px;
}
.sliderblock__item-title {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 81px;
	line-height: 100px;
	letter-spacing: 18.9844px;
	color: #FFFFFF;
}
.sliderblock__item-subtitle {
	margin:31px 0 0 0;
	font-family: 'Mukta Vaani';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	text-align: justify;
	color: #FFFFFF;
}
.sliderblock__item-time {
	margin: 30px 0 0 0;
	position: relative;
	display: block;
	height:3px;
	width:100%;
	background: rgba(#fff,0.6)
}
.sliderblock__bg{
	position: absolute;
	top:0;
	height:790px;
	width:100%;
	background: #4a4a4a;
}
.sliderblock__item-time-passed {
	//transition:all 7.5s ease 0s;
	position: absolute;
	top:-2px;
	left:0;
	display: block;
	height:7px;
	width:0;
	background: #fff;
}
.sliderblock__gallery-link {
	width:431px;
	border:3px solid #979797;
	padding:15px 47px;
	font-family: 'Koulen';
	font-weight: 400;
	font-size: 36px;
	line-height: 65px;
	letter-spacing: 8px;
	text-align:center;
	color: #7A797A;

}
.sliderblock__next-arrow {
	//z-index:50;
	transition: all 0.3s ease 0s;
	cursor:pointer;
	position: relative;
	top:200px;
	right:0px;
	height:100px;
	width:50px;
	
	&:before,&:after{
		content:'';
		position: absolute;
		display: block;
		background: #fff;
		height:5px;
		width:50px;
		right:0;
	}
	&:before{
		transform:rotate(45deg);
		top:31px;
	}
	&:after{
		transform:rotate(-45deg);
		bottom:31px;
	}
}
.sliderblock__gallery-btn{
	transition: all 0.3s ease 0s;
	position: absolute;
	bottom:60px;
	height:91px;
	font-family: "Koulen";
	font-weight: 400;
	font-size: 36px;
	line-height: 91px;
	letter-spacing: 8px;
	display: block;
	border:3px solid #979797;
	padding:0px 47px;
	color:#979797;
	text-align:center;
	&:hover{
		color:#000;
		border-color: #000;
	}
}
.sliderblock__media{
	position: absolute;
	top:50%;
	left:42px;
	li{
		margin:21px 0 0 0;
	}
	li:first-child{
		margin:0;
	}
}
.slidernlock__media-item{
	display: block;
	img{
		transition: all 0.3s ease 0s;
		object-fit:none;
		&:hover{
			filter:invert(1)
		}
	}
}

.vasesPots {
	padding: 230px 0 0 0;
	position: relative;
	.container{
		max-width:1020px;
	}
}
.vasesPots__slider{
	overflow:hidden;
}
.container {}
.vasesPots__row {
	display: flex;
	gap:20px;
}
.vasesPots__title {
	text-orientation: upright;
	writing-mode: vertical-rl;
	text-transform:uppercase;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 115.3%;
	letter-spacing: 10.6667px;
	color: #7A797A;
}
.vasesPots__item__text {
	padding: 24px 50px 0;
	font-family: 'Mukta Vaani';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
	color: #4A4A4A;
	margin: 0 auto;
}
.vasesPots__item-image {
	img{
		object-fit:none;
	}
}
.vasesPots__list{
	display: flex;
	gap:10px;
	width: 2916px;
}
.vasesPots__gallery-btn{
	transition: all 0.3s ease 0s;
	position: relative;
	top:100px;
	left:50%;
	width:431px;
	height:91px;
	font-family: "Koulen";
	font-weight: 400;
	font-size: 36px;
	line-height: 91px;
	letter-spacing: 8px;
	display: block;
	border:3px solid #979797;
	padding:0px 47px;
	color:#979797;
	text-align:center;
	&:hover{
		color:#000;
		border-color: #000;
	}
}

//footer
.footer {
	margin: 60px 0 0 0;
	flex: 0 0 auto;
	height:200px;
	position: relative;
	img{
		position: absolute;
		display: block;
		bottom:0;
		left:110px;
	}
}

@media(max-width:1471px){

}